@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


:root {
  --main-darklg: #111113;
  --main-dark: #010001;
  --primary-color: #111113;
  --main-light: #D8D8D8;
  font-family: "Poppins", sans-serif;
}
p{
  font-size: 8px;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  position: relative;
  width: 100%;
  background-color: var(--main-darklg);
}

.logo > h3 {
  color: var(--main-light);
}

.main {
  overflow: hidden;
  height: 92vh;
  display: flex;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  background-color: #010001;
}

.videos__group {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-dark);
}

video {
  border:2px solid #C1C87D;
  height: 300px;
  border-radius: 0.5rem;
  margin: 0.5rem;
  width: 400px;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.nameTag{
  position: absolute;
  bottom:12px;
  left:8px;
  padding:0px 5px;
  z-index:2;
  background-color: var(--main-darklg);
  color:white;
}
.nameBox{
  margin-top: 35%;
  border-radius: 2px solid rgb(11, 11, 11);
  color:white;
  text-align: center;
  vertical-align: center;
  position: absolute;
  z-index:2;
  top:0px;
  left:0px;
  width:100%;
  height: 100%;
  font-size: 30px;
}
.options {
  width: 95%;
  height: min-content;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--main-darklg);
  
}
.options>div{
  display: flex;
  width:auto;
}

.options__right{
  width:200px;
}
.options__button {
  background-color: var(--primary-color);
  height: 40px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 70px;
  margin: 0 0.5rem;
  text-align: center;
}

#leaveMeeting{
  background-color: red;
  color:white;
  padding:2px 3px;
  height:25px;
  width: 50px;
  margin:auto auto;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
  border:2px solid var(--primary-color)
}

.background__red {
  background-color: #f6484a;
}

.main__right {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  background-color:#D8D8D8;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main__chat_window::-webkit-scrollbar {
  display: none;
}

.main__message_container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__message_container > input {
  height: 40px;
  flex: 1;
  font-size: 1rem;
  border-radius: 10px;
  padding-left: 20px;
  border: none;
}
#send{
  background-color:var(--main-darklg);
  color:white;
  height:26px;
  padding:7px 2px;
  width: 50px;
  text-align: center;
  vertical-align: center;
  border-radius: 10px;
}
.messages {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.message {
  display: flex;
  flex-direction: column;
}

.message > b {
  color: #eeeeee;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.message > b > i {
  margin-right: 0.7rem;
  font-size: 1.5rem;
}

.message > span {
  background-color: #eeeeee;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}

#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#showChat {
  display: none;
}

.header__back {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #fff;
}

@media (max-width: 700px) {
  .main__right {
    display: none;
  }
  .main__left {
    width: 100%;
    flex: 1;
  }

  video {
    height: auto;
    width: 100%;
  }

  #showChat {
    display: flex;
  }
}